@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth; 
}
body {
  margin:0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container{
  max-width: 1440px;
  margin: 0 auto;

}

.text-primary {
  color: #f7c08a;
}
.header-text {
  justify-content: flex-start;
  font-size: 30px;
}
.nav-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
}

.header-elements{
  padding: 10px;
  width: 1440px;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  background:#333;
  border-bottom:1px solid #f7c08a;

}

.nav-link{
  padding: 0 20px;
  line-height: 50px;
}

.nav .nav-list li a{
  text-decoration: none;
  color:#f7c08a;
}
.nav .nav-list li a:hover{
  text-decoration: none;
  color:red;
}
.main-container{
  width: 1440px;
  background:#333;
  display: flex;
  flex-wrap: wrap;
  border-top:1px solid #f7c08a;
}
.section{
  width: 50%;
  border-right:1px solid #f7c08a;
}
.heading-section{
  color:#f7c08a;
  font-size: 30px;
  font-weight: 500;
  font-style: italic;
  text-align: left;
  padding: 10px 50px;
  text-decoration: underline;
}
.ul-section{
  text-align: left;
  background:#333;
  padding: 10px 50px;
  list-style-type: circle;
}
.ul-section li{
  text-decoration: none;
  color:#f7c08a;
}
.section-paragraph{
  color:#f7c08a;
  padding: 10px 50px;
  text-align: left;
}

 .line {
  background: #000000;
  height: 1px;
  width: 50%;
  border: none;
  border-top: 2px dotted #f7c08a;
}
.underline{
  text-decoration: underline;
}
.code-change {
  box-sizing:border-box;
  margin-left: -90px;
  margin-top: -40px;
  color:#f7c08a;
  font-size: 18px;
  text-align: left;
}
.image-container {
  display: flex;
  justify-content: center;
  background:#333;
}
.image{
  margin: 5px;
  border-radius: 25%;
}
.container-footer{
  background:#333;
  width: 1440px;
  display: flex;
  justify-content: space-around;
  align-items:center;
  border-top:1px solid #f7c08a;

}
.container-footer ul{
  list-style: none;
}
.container-footer ul li a{
  text-decoration: none;
}
.container-footer .footer-image{
  display: flex;
  align-items:center;
  width: 20%;
}